*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans serif';
  font-weight: 600;
  color: rgb(139, 149, 158);
}

.row{
  width: 85%;
  margin: auto;
}
/* menu */
header{
  height: 70px;
  line-height: 70px;
  width: 100%;
  flex-direction: row;
}
nav{
  display: flex;
}
ul li a{
  text-decoration: none;
  height: 100%;
}
.menu > li a:hover > i,
.menu > li a:hover{
  color:#000000;
}
.dropdown > li:hover {
  background-color: grey;

}
.dropdown > li:hover > a,
.dropdown > li:hover i  {
  color: black;
}
ul li.button a:hover{
  color: rgb(139, 149, 158);
}
.dropdown li a span{
  font-size: 13px;
  color: #eb008d;
  position:relative;
  left: -10px;
  top: -14px;
}
nav > .menu.center,
nav > .menu.right{
  justify-content: flex-end;
}
header .logo img{
  height: 25px;
}
/* menu di sinistra */
header .menu.left {
  width: 300px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}
/* menu di centro */
header .menu.center{
  width: 400px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-left: auto;
  position: relative;
}
header .menu.center > li{
  padding: 0 7px;
}
/* menu di destra */
header .menu.right{
  width: 250px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.menu.right .fa-chevron-down,
.menu.right .fa-chevron-up {
  font-size: 10px;
}
.menu.right:first-child a div{
  width: 80px;
}
.menu.right .lang{
  flex-direction: row;
}
/* display */
.display{
  display: none;
}
.show{
  display: flex;
}
.menu.left li:first-child a{
  color: #000000;
}
/* dropdown */
.dropdown{
  box-shadow:  0px 5px 18px -1px rgba(0,0,0,0.75);
  position:absolute;
  top: 70px;
  list-style-type: none;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
}
.dropdown.product li{
  width: 299px;
  padding: 0 40px;
}

.dropdown.product{
  height: 421px;
  width: 600px;
  left: -50px;
  white-space: nowrap;
}
.dropdown.product i{
  font-size: 20px;
  padding-right: 15px;
}
.dropdown.risorse{
  width: 200px;
  height: 280px;
  left: 144px;
  white-space: nowrap;
}
.dropdown.risorse li{
  width: 199px;
  padding: 0 30px;
}
.dropdown.azienda{
  width: 200px;
  height: 281px;
  left: 210px;
  white-space: nowrap;
}
.dropdown.azienda li{
  width: 200px;
  padding: 0 40px;
}
.dropdown.aiuto{
  width: 200px;
  height: 140px;
  left: 210px;
  white-space: nowrap;
}
.dropdown.aiuto li{
  width: 200px;
  padding: 0 40px;
}
.active{
  display: flex;
}
.button a{
  background-color: #eb008d;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  display: inline;
}
