*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans serif';
  font-weight: 500;
}

.row{
  width: 85%;
  margin: auto;
}
/* menu */
header{
  height: 70px;
  line-height: 70px;
  background-color: red;
  flex-direction: row;
}
nav{
  display: flex;
}
nav > .menu.center,
nav > .menu.right{
  justify-content: flex-end;
}
header .logo img{
  height: 25px;
}
header .menu.left {
  width: 300px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
header .menu.center{
  width: 400px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
header .menu.center li{
  padding: 0 7px;
}
header .menu.right{
  width: 150px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
